<panel:>
  <div class="{@class} {#if equal(_page.control, 'files')}selected{/}">
    <h2 class="panel-title">Files</h2>    
    <ul id="file-list">
      <li data-file-type="js">inlet.js <i class="icon-cancel-squared icon"></i></li>
      <li data-file-type="js">another_file.js <i class="icon-cancel-squared icon"></i></li>
      <li data-file-type="css">style.css <i class="icon-cancel-squared icon"></i></li>
      <li data-file-type="svg">icon.svg <i class="icon-cancel-squared icon"></i></li>
      <li data-file-type="xml">who_knows.xml <i class="icon-cancel-squared icon"></i></li>
    </ul>
  </div>
