<panel:>
  <div class="{@class} {#if equal(_page.control, 'publish')}selected{/}" style="text-align: left;">
    <h2>Save &amp; Export</h2>
    <div id="save-and-export">
      <h4>Inlet Name</h4>
      <p><input value={_page.inletTitle} class="{_page.titleValidation}" id="save-inlet-name"></input></p>
      
      <p><button x-bind="click: save" disabled="{equal(_page.titleValidation, 'invalid')}">Save</button>
      <button x-bind="click: fork">Fork</button></p>
      <!-- <button x-bind="click: new">New inlet</button> -->
      <p><button x-bind="click: exportToGist">Export to gist</button></p>
      <p><a href="{url('list.href')}">LIST OF YOUR INLETS</a></p>
    </div>    
  </div>
