<panel:>
  <div class="{@class} {#if equal(_page.control, 'tools')}selected{/}">
    <h2 class="panel-title">Tools</h2>
    
    <h3>Data Sources</h3>
    <ul id="datasource-list">
        <li><i class="icon-plus-squared icon"></i> Add datasource</li>
    </ul>

    <h3>Libraries</h3>
    <ul id="library-list">
      <li><i class="icon-plus-squared icon"></i> Add library</li>
      <li class="active-library">D3 
        <span class="library-url">github.com</span> 
        <i class="icon-cancel-squared icon"></i>
      </li>
      <li class="disabled-library">Three.js 
        <span class="library-url">github.com</span>
        <i class="icon-cancel-squared icon"></i>
      </li>
    </ul>

    <h3>Time Controls</h3>
    <button>Play</button> <button>Loop</button> <button>Restart</button>
  </div>
