<Body:>
<h1>Tributary</h1>

<h2>What is Tributary</h2>
<p>
 Tributary is an experimental environment for <strong>rapidly prototyping visualization code</strong>. The environment provides several useful libraries, as well as a simple interface for live code editing. We call these shareable code examples <strong>inlets</strong>.</p>
 
 <h2>Inlet Gallery</h2>
 <ul id="gallery">
   <li style="background-image: url(http://i.imgur.com/rUvZDhR.gif)"><h3>Inlet title</h3></li>
   <li style="background-image: url(http://i.imgur.com/xWF5EAT.jpg)"><h3>Inlet title</h3></li>
   <li style="background-image: url(http://i.imgur.com/aRT3A5S.jpg)"><h3>Inlet title</h3></li>
   <li style="background-image: url(http://i.imgur.com/n0txLUy.png)"><h3>Inlet title</h3></li>
   <li style="background-image: url(http://i.imgur.com/iKuKTIT.png)"><h3>Inlet title</h3></li>
   <li style="background-image: url(http://i.imgur.com/eSrIeaf.jpg)"><h3>Inlet title</h3></li>          
 </ul>
  <ul id="gallery-links">
    <li>Latest inlets</li>
    <li>Most active users</li>
  </ul>

<h2>How to use Tributary</h2>
<p>Duis sed sapien elit. Sed scelerisque odio nec nulla iaculis volutpat. Duis eleifend lorem vel elementum scelerisque. Praesent pulvinar consequat egestas. Morbi ut lacinia nisi. Sed vitae sagittis nunc. Quisque eros lorem, elementum at erat lobortis, malesuada convallis sapien. Cras sodales elit est, sit amet egestas massa ultrices eget. In et consectetur risus. Nunc gravida libero sit amet metus tincidunt tempus.</p>
  
<h3>Visualization Prototyping</h3>
<p>Duis sed sapien elit. Sed scelerisque odio nec nulla iaculis volutpat. Duis eleifend lorem vel elementum scelerisque. Praesent pulvinar consequat egestas. Morbi ut lacinia nisi. Sed vitae sagittis nunc. Quisque eros lorem, elementum at erat lobortis, malesuada convallis sapien. Cras sodales elit est, sit amet egestas massa ultrices eget. In et consectetur risus. Nunc gravida libero sit amet metus tincidunt tempus.</p>

<h3>Collaboration</h3>
<p>Duis sed sapien elit. Sed scelerisque odio nec nulla iaculis volutpat. Duis eleifend lorem vel elementum scelerisque. Praesent pulvinar consequat egestas. Morbi ut lacinia nisi. Sed vitae sagittis nunc. Quisque eros lorem, elementum at erat lobortis, malesuada convallis sapien. Cras sodales elit est, sit amet egestas massa ultrices eget. In et consectetur risus. Nunc gravida libero sit amet metus tincidunt tempus.</p>

<h3>Making GIFs</h3>
<p>Duis sed sapien elit. Sed scelerisque odio nec nulla iaculis volutpat. Duis eleifend lorem vel elementum scelerisque. Praesent pulvinar consequat egestas. Morbi ut lacinia nisi. Sed vitae sagittis nunc. Quisque eros lorem, elementum at erat lobortis, malesuada convallis sapien. Cras sodales elit est, sit amet egestas massa ultrices eget. In et consectetur risus. Nunc gravida libero sit amet metus tincidunt tempus.</p>

<h3>Art</h3>
<p>Duis sed sapien elit. Sed scelerisque odio nec nulla iaculis volutpat. Duis eleifend lorem vel elementum scelerisque. Praesent pulvinar consequat egestas. Morbi ut lacinia nisi. Sed vitae sagittis nunc. Quisque eros lorem, elementum at erat lobortis, malesuada convallis sapien. Cras sodales elit est, sit amet egestas massa ultrices eget. In et consectetur risus. Nunc gravida libero sit amet metus tincidunt tempus.</p>
