<Head:>
  <link rel="stylesheet" href="/static/css/trib.css">
  <link rel="stylesheet" href="/static/css/animation.css"><!--[if IE 7]>
  <link rel="stylesheet" href="/static/trib-ie7.css"><![endif]-->
  <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/jquery.tipsy.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/jsonlint.js"></script>

  <link rel="stylesheet" href="/static/css/3rdparty.css">

  <link rel="stylesheet" href="/static/css/tipsy.css">

<import: src=inlet>
<import: src=home>
<import: src=panel>

<Title:>
  THIS IS TRIBUTARY: {{pageTitle($ns)}}

<Header:>
  <!-- $ns is the namespace supplied to the render function -->
  <body class={{dash($ns)}}>

<nav: nonvoid>
  <nav>
    <!-- nonvoid components support a special `content` attribute -->
    {{@content}}
    <hr>
  </nav>
