<Body:>
  <section id="container" class="flexbox">
      <app:display class="display flexbox">
      <section class="flexbox" id="icon-bar">
        <ul id="icon-list">
          <li title="files" x-bind="click: selectFiles">
            <i class="icon-folder" ></i>
          </li>
          <li title="settings" x-bind="click: selectSettings">
            <i class="icon-cog"></i>
          </li>
          <li title="code" x-bind="click: selectCode">
            <i class="icon-code"></i>
          </li>
          <li title="tools" x-bind="click: selectTools">
            <i class="icon-tools"></i>
          </li>
          <li style="position: absolute; bottom: 0;" title="fullscreen" x-bind="click: selectFullscreen">
            <i class="icon-resize-full"></i>
          </li>
          
          <div id="icon-bar-content">
            {#if _page.control}
              <derby:view view={_page.control} optional>
            {/}
          </div>
        </ul>
        
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $("#icon-list li").tipsy({gravity: 'e', delayIn: 640});
        })
        </script>
        
        
      </section>
      <app:panel class="panel">
  </section>

<!-- START components for the icon-bar stuff -->
<files:>
  FILES BABY
<settings:>
  SETTINGS BABY
<code:>
  CODE BABY
<tools:>
  TOOLS BABY

<!-- END components for the icon-bar stuff -->

<display:>
  <section class={{@class}} id="box-1">
    
  </section>

<panel:>
  <section class={{@class}} id="box-2">
    
    <section class="" id="toolbar">
      Filename
    </section>
    
    <section class="" id="code">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper, sapien eu accumsan viverra, est massa venenatis tortor, in porta lorem odio quis odio. Morbi porttitor enim vel nunc faucibus malesuada. Quisque sed dolor massa, eget pretium urna. Phasellus sit amet justo sit amet tellus fermentum ullamcorper. Etiam facilisis sem a orci dapibus at suscipit elit pretium. In pellentesque tempus interdum. Suspendisse potenti. Sed aliquet ante et nunc malesuada egestas. Nulla sed posuere nisl. Duis tortor arcu, viverra vel feugiat vel, condimentum nec metus. Morbi ut metus varius neque tempor viverra. Nam in tortor nibh, ut posuere tellus. Suspendisse facilisis, metus at luctus sollicitudin, nibh tortor sollicitudin tortor, eu tincidunt tortor ligula ac lectus. Sed purus nulla, interdum a volutpat nec, ornare vitae justo.

      Suspendisse potenti. Proin ullamcorper laoreet nunc vel condimentum. Curabitur vel arcu ut libero fermentum eleifend vel ut libero. Donec vel dui est, id accumsan libero. In hac habitasse platea dictumst. Sed mollis ligula vel nisl euismod posuere. Pellentesque et elit quam, eget sollicitudin est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean euismod, justo quis laoreet laoreet, sapien neque lobortis ligula, in vulputate arcu tellus eget nulla. Nulla tristique elementum purus, eu pulvinar mauris ornare id. Vestibulum tristique purus lectus, sollicitudin congue erat. Pellentesque eget quam eget magna sollicitudin pulvinar sed non neque.

      Proin ut cursus velit. Curabitur suscipit convallis dui quis auctor. Integer eu sem in ligula porttitor tincidunt at et odio. Proin dictum lacus et lacus tincidunt non dignissim massa gravida. Donec porta adipiscing lacus ut vehicula. Integer elementum, est quis rutrum adipiscing, massa elit rhoncus erat, et mattis purus eros sit amet enim. Morbi quis consequat mauris. Sed ac tempor justo.

      Proin leo metus, molestie eget fringilla non, hendrerit vel elit. Proin velit diam, cursus et scelerisque dapibus, aliquet in tellus. Mauris nec nisi dolor, in ornare est. Maecenas sit amet libero lorem. Maecenas vehicula, elit quis aliquet volutpat, libero urna egestas ipsum, quis egestas orci sem vel purus. Etiam aliquet lacinia molestie. Donec volutpat risus eget eros posuere tincidunt. Sed hendrerit dui gravida nibh interdum porta. Proin euismod pulvinar vestibulum.

      Sed mollis, nulla quis sollicitudin ornare, risus nibh scelerisque ipsum, eget aliquet dolor nisl ac lacus. Quisque ac erat odio. Mauris eget elit diam. Quisque sed tortor vitae mi sodales tristique sed non odio. Donec in augue metus. Integer nisi urna, pretium ac gravida eu, commodo at metus. Nulla volutpat dignissim euismod. Vivamus orci ante, dapibus ut bibendum eget, adipiscing et urna. Praesent a purus felis. Ut id ante sed massa pulvinar fermentum. Praesent eros ligula, cursus in cursus consectetur, scelerisque vitae ante. Vivamus varius lorem a libero tempus vel gravida turpis dignissim. Morbi quis libero ligula, venenatis sagittis mi. Proin laoreet tortor sed dolor eleifend eu consectetur est lobortis. Aenean vitae sem vitae nisi lobortis suscipit commodo sit amet lorem. Donec et nulla id leo pretium rutrum.
    </section>
    
  </section>
