<Body:>
  <section id="container" class="flexbox">
      <app:display class="display flexbox">
      <section class="flexbox" id="icon-bar">
        <ul id="icon-list">
          <li title="files" x-bind="click: selectFiles">
            <i class="icon-folder" ></i>
          </li>
          <li title="settings" x-bind="click: selectSettings" class="active-icon">
            <i class="icon-cog"></i>
          </li>
          <li title="code" x-bind="click: selectCode" style="display: none;">
            <i class="icon-code"></i>
          </li>
          <li title="publish" x-bind="click: selectPublish">
            <i class="icon-publish"></i>
          </li>
          <li title="tools" x-bind="click: selectTools">
            <i class="icon-tools"></i>
          </li>
          <li style="position: absolute; bottom: 0;" title="fullscreen" x-bind="click: selectFullscreen">
            <i class="icon-resize-full"></i>
          </li>

          <div id="icon-bar-content" class="active">

            {#each _page.controls as :control}
            <div>
              <derby:view view="panel:{{:control}}:panel" optional>
            </div>
            {/}
          </div>


        </ul>



        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $("#icon-list li").tipsy({gravity: 'e', delayIn: 540, fade: 'true'});
        })
        </script>


      </section>
      <app:panel class="panel">
  </section>


<display:>
  <section class={{@class}} id="box-1">

  <div>
    
		<div class="md-overlay"></div><!-- the overlay element -->
    
    <button class="md-trigger" data-modal="modal-16" onclick="$('#modal-16').toggleClass('md-show')">Blur</button>
    
    <div class="md-modal md-effect-16" id="modal-16">
    			<div class="md-content">
    				<h3>Modal Dialog</h3>
    				<div>
    					<p>This is a modal window. You can do the following things with it:</p>
    					<ul>
    						<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
    						<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
    						<li><strong>Close:</strong> click on the button below to close the modal.</li>
    					</ul>
    					<button class="md-close">Close me!</button>
    				</div>
    			</div>
    	</div>
          
  {#if _page.loading}THE PAGE IS LOADING, NOT SURE WHY SLOW{/}
  <!-- these can be moved to where they should be -->
  set the inlet name: <input value={_page.inletTitle} class="{_page.titleValidation}"></input><br>
  <button x-bind="click: save" disabled="{equal(_page.titleValidation, 'invalid')}">Save</button><br>
  <button x-bind="click: fork">Fork this inlet</button><br>
  <button x-bind="click: new">New inlet</button><br>
  <button x-bind="click: exportToGist">Export to gist</button><br>
 <a href="{url('list.href')}">LIST OF YOUR INLETS</a><br>
  </div>

   <pre style="display: none;">{_page.inlet.files.inlet.code}</pre>
  </section>

<panel:>
  <section class={{@class}} id="box-2">

    <section class="" id="codetoolbar">
      Filename
    </section>

    <section class="" id="code">
      <div id="codemirror">
      </div>
    </section>

  </section>
  
  
<Footer:>
  <script src="/static/js/cssParser.js" type="text/javascript" charset="utf-8"></script>  
  