<Body:>
  <section id="container" class="flexbox">
      <app:display class="display flexbox">
      <section class="flexbox" id="icon-bar">
        <ul id="icon-list">
          <li title="files" x-bind="click: selectFiles">
            <i class="icon-folder" ></i>
          </li>
          <li title="settings" x-bind="click: selectSettings" class="active-icon">
            <i class="icon-cog"></i>
          </li>
          <li title="code" x-bind="click: selectCode" style="display: none;">
            <i class="icon-code"></i>
          </li>
          <li title="publish" x-bind="click: selectPublish">
            <i class="icon-publish"></i>
          </li>
          <li title="tools" x-bind="click: selectTools">
            <i class="icon-tools"></i>
          </li>
          <li style="position: absolute; bottom: 0;" title="fullscreen" x-bind="click: selectFullscreen">
            <i class="icon-resize-full"></i>
          </li>

          <div id="icon-bar-content" class="active">

            {#each _page.controls as :control}
            <div>
              <derby:view view="panel:{{:control}}:panel" optional>
            </div>
            {/}
          </div>


        </ul>



        <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $("#icon-list li").tipsy({gravity: 'e', delayIn: 540, fade: 'true'});
        })
        </script>


      </section>
      <app:panel class="panel">
  </section>


<display:>
  <section class={{@class}} id="box-1">      
  {#if _page.loading}<h2 style='text-align: center;'>Reticulating splines...</h2>{/}
   <pre style="display: none;">{_page.inlet.files.inlet.code}</pre>
  </section>

<panel:>
  <section class={{@class}} id="box-2">

    <section class="code-running" id="codetoolbar">
      <strong>Inlet name:</strong> <span  contenteditable="true" id="filename">Filename</span>
      <span id="inlet-status">Saving...</span>
    </section>

    <section class="" id="code">
      <div id="codemirror">
      </div>
    </section>

  </section>
  
  
<Footer:>
  <!-- Yo, son! -->