<topbar:>
  <div class="{{@class}} topbar">
    <div class="auth">
  <!--  #github-login-->
      {{#with users[_session.userId] as :user}}
        {{#if :user}} 
          Logged in as: {{:user.services.github.name}}
        {{else}}
          Log in:
          <a href='/auth/github', style='border: 0px'>
            <img style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/github_64.png' id="github-auth-icon">
          </a>
        {{/}}
      {{/}}
    </div>
  </div>
