@import "nib/vendor";
@import "../mixins"

body
  width 100%
  margin-left auto
  margin-right auto

.display
  background: red
  display: block
  width: 500px
  height: 500px
  padding: 5px
  box-flex: 0

.panel
  background: blue
  width: 100px
  height: 200px


